body {
  background-image: url("../../assets/plane.jpg");
  background-color: $brass;
  color: $scarlet;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
}
h1 {
font-family: 'Oswald', sans-serif;
font-size: 48px;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.div1 { 
  grid-area: 1 / 1 / 3 / 3; 
  background-color: $lightBlue;
}
.div2 { 
  grid-area: 1 / 3 / 3 / 5; 
  background-color: $rose;
}
.div3 { 
  grid-area: 3 / 1 / 5 / 3; 
  background-color: $peach;
}
.div4 { 
  grid-area: 3 / 3 / 5 / 5; 
  background-color: $brass;
  color: $peach;
  height: 80px;
  font-size: 32px;
}

#map {
  height: 80vh; 
  border: 2px solid $blue;
}
#calcButton {
  background-color: $brass;
  color: $scarlet;
}
#calcButton:hover {
  background-color: $scarlet;
  color:  $peach;
}