body {
  background-image: url("../../assets/plane.jpg");
  background-color: $lightOrange;
  color: $darkPurple;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}
#map {
  height: 90vh; 
  border: 2px solid $darkBlue;
}
#calcButton {
  background-color: $darkBlue;
  color: $lightOrange;
}
#calcButton:hover {
  background-color: $darkOrange;
  color:  $darkPurple;
}